<%- include ("partials/header.ejs") %>
    <div class="book-page">
        <h1>
            <%= book.title %>
        </h1>
        <p>Author: <%= book.author %>
        </p>
        <p>Rating: <%= book.official_rating %>
        </p>
        <img src="<%= book.cover %>" alt="<%= book.title %>">
    </div>
    <% if (book.personal_rating) { %>
        <div class="editable">
            <div class="read-mode">
                <div class="rating-display">
                    <p style="margin-top: 2rem;">Your Rating: <%= book.personal_rating %>
                    </p>
                    <button class="icon" type="button" class="edit" onclick="toggleEdit(this)">
                        <svg id="svg" fill="#000000" width="20px" height="20px" version="1.1" viewBox="144 144 512 512"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="IconSvg_bgCarrier" stroke-width="0"></g>
                            <g id="IconSvg_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="IconSvg_iconCarrier">
                                <g xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m538.59 181.46-212.86 212.85c-1.4297 1.4297-2.3984 3.2539-2.7695 5.2422l-15.168 80.91c-0.61328 3.2617 0.42578 6.6172 2.7734 8.9648 2.3477 2.3516 5.7031 3.3867 8.9688 2.7734l80.91-15.164c1.9844-0.375 3.8086-1.3398 5.2383-2.7734l212.86-212.86c14.863-14.812 8.918-44.031-13.5-66.449-22.422-22.418-51.641-28.363-66.453-13.5zm65.695 65.691-210.64 210.64-63.328 11.891 11.891-63.328 210.64-210.64c5.6406-5.6406 23.426-1.0078 37.938 13.504 14.508 14.508 19.141 32.293 13.5 37.934z" />
                                    <path
                                        d="m183.36 626.71h374.02c2.6758 0.003906 5.2383-1.0586 7.1289-2.9492 1.8867-1.8906 2.9492-4.4531 2.9492-7.125v-232.89l-20.152 20.148v202.67h-353.87v-353.87h202.66l20.152-20.152h-232.89c-2.6719 0-5.2344 1.0625-7.125 2.9531-1.8906 1.8906-2.9492 4.4531-2.9492 7.125v374.02c0.015625 5.5586 4.5156 10.059 10.074 10.074z" />
                                </g>

                            </g>
                        </svg>

                    </button>
                </div>
            </div>
            <form hidden class="edit-mode" action="/update/<%= book.book_id %>" method="post">
                <label for="update">Your Rating (1-5):</label>
                <input type="number" name="personal_rating" min="1" max="5" step="0.1"
                    value="<%= book.personal_rating %>">
                <button type="submit">Save Rating</button>
            </form>
        </div>
        <% } else { %>
            <form class="rating-display" style="padding-left: 6rem;" action="/update/<%= book.book_id %>" method="post">
                <label for="personal_rating">Your Rating (1-5):</label>
                <input type="number" id="personal_rating" name="personal_rating" min="1" max="5" step="0.1"
                    value="<%= book.personal_rating %>">
                <button type="submit">Save Rating</button>
            </form>
            <% } %>

                <h3 class="center-item">Your Summary</h3>



                <% if (book.summary) { %>
                    <div class="editable summary">
                        <div class="read-mode">
                            <p>
                                <%= book.summary %>
                            </p>
                            <button class="icon" style="margin-left: 3rem;" type="button" id="edit<%=book.book_id%>"
                                class="edit" onclick="toggleEdit(this)">
                                <svg id="svg" fill="#000000" width="20px" height="20px" version="1.1"
                                    viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg">
                                    <g id="IconSvg_bgCarrier" stroke-width="0"></g>
                                    <g id="IconSvg_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="IconSvg_iconCarrier">
                                        <g xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="m538.59 181.46-212.86 212.85c-1.4297 1.4297-2.3984 3.2539-2.7695 5.2422l-15.168 80.91c-0.61328 3.2617 0.42578 6.6172 2.7734 8.9648 2.3477 2.3516 5.7031 3.3867 8.9688 2.7734l80.91-15.164c1.9844-0.375 3.8086-1.3398 5.2383-2.7734l212.86-212.86c14.863-14.812 8.918-44.031-13.5-66.449-22.422-22.418-51.641-28.363-66.453-13.5zm65.695 65.691-210.64 210.64-63.328 11.891 11.891-63.328 210.64-210.64c5.6406-5.6406 23.426-1.0078 37.938 13.504 14.508 14.508 19.141 32.293 13.5 37.934z" />
                                            <path
                                                d="m183.36 626.71h374.02c2.6758 0.003906 5.2383-1.0586 7.1289-2.9492 1.8867-1.8906 2.9492-4.4531 2.9492-7.125v-232.89l-20.152 20.148v202.67h-353.87v-353.87h202.66l20.152-20.152h-232.89c-2.6719 0-5.2344 1.0625-7.125 2.9531-1.8906 1.8906-2.9492 4.4531-2.9492 7.125v374.02c0.015625 5.5586 4.5156 10.059 10.074 10.074z" />
                                        </g>

                                    </g>
                                </svg>
                            </button>
                        </div>

                        <form hidden class="edit-mode" action="/update/<%=book.book_id%>" method="post">

                            <textarea name="summary" rows="4" cols="50"><%= book.summary %></textarea><br>
                            <button style="background-color: #3F4E4F;" type="submit">Save Summary</button>
                        </form>

                    </div>
                    <% } else { %>
                        <form class="editable summary" action="/update/<%= book.book_id %>" method="post">
                            <textarea id="summary" name="summary" rows="4" cols="50"><%= book.summary %></textarea><br>
                            <button style="background-color: #3F4E4F; margin-bottom: 2rem;" type="submit">Save
                                Summary</button>
                        </form>

                        <% } %>

                            <h3 class="center-item">Your Notes</h3>
                            <% if (notes.length===0) { %>
                                <p class="center-item">No notes yet</p>
                                <% }else { %>
                                    <% notes.forEach(note=> { %>

                                        <div class="editable">
                                            <div class="read-mode">
                                                <p>
                                                    <%= note.note %>
                                                </p>
                                                <div class="note-display center-item">
                                                    <button class="icon note" type="button" id="edit<%=note.id%>"
                                                        onclick="toggleEdit(this)">
                                                        <svg id="svg" width="20px" height="20px" version="1.1"
                                                            viewBox="144 144 512 512"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g id="IconSvg_bgCarrier" stroke-width="0"></g>

                                                            <g id="IconSvg_iconCarrier">
                                                                <g xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="m538.59 181.46-212.86 212.85c-1.4297 1.4297-2.3984 3.2539-2.7695 5.2422l-15.168 80.91c-0.61328 3.2617 0.42578 6.6172 2.7734 8.9648 2.3477 2.3516 5.7031 3.3867 8.9688 2.7734l80.91-15.164c1.9844-0.375 3.8086-1.3398 5.2383-2.7734l212.86-212.86c14.863-14.812 8.918-44.031-13.5-66.449-22.422-22.418-51.641-28.363-66.453-13.5zm65.695 65.691-210.64 210.64-63.328 11.891 11.891-63.328 210.64-210.64c5.6406-5.6406 23.426-1.0078 37.938 13.504 14.508 14.508 19.141 32.293 13.5 37.934z" />
                                                                    <path
                                                                        d="m183.36 626.71h374.02c2.6758 0.003906 5.2383-1.0586 7.1289-2.9492 1.8867-1.8906 2.9492-4.4531 2.9492-7.125v-232.89l-20.152 20.148v202.67h-353.87v-353.87h202.66l20.152-20.152h-232.89c-2.6719 0-5.2344 1.0625-7.125 2.9531-1.8906 1.8906-2.9492 4.4531-2.9492 7.125v374.02c0.015625 5.5586 4.5156 10.059 10.074 10.074z" />
                                                                </g>

                                                            </g>
                                                        </svg>
                                                    </button>
                                                    <form action="/delete/note/<%= note.id %>" method="post">
                                                        <input type="hidden" name="bookId" value="<%= book.book_id %>">
                                                        <button class="delete-button icon">
                                                            <svg id="svg" width="20px" height="25px" version="1.1"
                                                                viewBox="144 144 512 512"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path xmlns="http://www.w3.org/2000/svg"
                                                                    d="m525.95 226.81h-47.473c-0.054687-12.504-5.0469-24.48-13.887-33.324-8.8398-8.8477-20.812-13.844-33.32-13.906h-62.758c-12.523 0.011719-24.531 4.9961-33.383 13.848-8.8555 8.8555-13.836 20.863-13.852 33.383h-47.23c-12.523 0.015625-24.527 4.9961-33.383 13.852-8.8555 8.8555-13.836 20.859-13.852 33.383v15.742c0 4.1758 1.6602 8.1797 4.6133 11.133s6.957 4.6133 11.133 4.6133h16.504l13.434 270.12-0.003906-0.003906c0.63281 12.086 5.8789 23.465 14.656 31.793 8.7773 8.3281 20.418 12.969 32.516 12.965h160.67c12.105 0 23.75-4.6445 32.527-12.98 8.7773-8.3359 14.02-19.723 14.645-31.812l13.434-270.09h16.5c4.1758 0 8.1797-1.6602 11.133-4.6133 2.9531-2.9531 4.6133-6.957 4.6133-11.133v-15.742c-0.015625-12.523-4.9961-24.527-13.852-33.383-8.8516-8.8555-20.859-13.836-33.383-13.852zm-157.44-15.742h62.762-0.003907c4.1719 0.019532 8.1641 1.6875 11.109 4.6328 2.9492 2.9492 4.6133 6.9414 4.6367 11.109h-94.25c0.003906-4.1719 1.6641-8.1758 4.6172-11.129 2.9492-2.9492 6.9531-4.6094 11.129-4.6133zm127.54 362.94c-0.20703 4.0273-1.9531 7.8203-4.8789 10.598-2.9258 2.7734-6.8047 4.3203-10.836 4.3164h-160.67c-4.0273 0.007813-7.8984-1.5352-10.824-4.3008-2.9258-2.7695-4.6758-6.5508-4.8906-10.574l-13.359-268.52h218.82zm-237.75-299.96c0.003907-4.1758 1.6641-8.1758 4.6172-11.129s6.9531-4.6133 11.129-4.6172h251.9c4.1758 0.003907 8.1797 1.6641 11.129 4.6172 2.9531 2.9531 4.6133 6.9531 4.6172 11.129zm125.95 251.91v-157.44c0-5.625 3-10.824 7.8711-13.637s10.875-2.8125 15.746 0 7.8711 8.0117 7.8711 13.637v157.44c0 5.625-3 10.824-7.8711 13.637s-10.875 2.8125-15.746 0-7.8711-8.0117-7.8711-13.637zm62.977 0v-157.44c0-5.625 3-10.824 7.8711-13.637 4.8711-2.8125 10.875-2.8125 15.746 0s7.8711 8.0117 7.8711 13.637v157.44c0 5.625-3 10.824-7.8711 13.637s-10.875 2.8125-15.746 0c-4.8711-2.8125-7.8711-8.0117-7.8711-13.637zm-125.95 0v-157.44c0-5.625 3-10.824 7.8711-13.637 4.875-2.8125 10.875-2.8125 15.746 0 4.8711 2.8125 7.8711 8.0117 7.8711 13.637v157.44c0 5.625-3 10.824-7.8711 13.637-4.8711 2.8125-10.871 2.8125-15.746 0-4.8711-2.8125-7.8711-8.0117-7.8711-13.637z" />
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <hr>

                                            <form class="edit-mode" hidden action="/edit/note/<%= note.id %>"
                                                method="post">
                                                <textarea name="note" rows="4" cols="50">
                                                    <%= note.note %>
                                                </textarea><br>
                                                <button style="background-color: #3F4E4F;" type="submit">Save
                                                    Note</button>
                                            </form>
                                        </div>
                                        <% }); %>
                                            <% } %>
                                                <div class="editable">
                                                    <form class="center-item" action="/update/<%= book.book_id %>"
                                                        method="post">
                                                        <br>
                                                        <textarea id="note" name="note"
                                                            style="width:50%; height: 100px;"></textarea><br>
                                                        <button style="background-color:#3F4E4F ; text-align: center;"
                                                            type="submit">Save
                                                            Note</button>
                                                    </form>
                                                </div>

                                                <script>
                                                    function toggleEdit(el) {
                                                        const container = el.closest(".editable");
                                                        const readMode = container.querySelector(".read-mode");
                                                        const editMode = container.querySelector(".edit-mode");

                                                        readMode.hidden = !readMode.hidden;
                                                        editMode.hidden = !editMode.hidden;
                                                    }


                                                </script>
                                                <%- include ("partials/footer.ejs") %>