<%- include ("partials/header.ejs") %>

    <body>
        <h1>Book Tracker</h1>
        <form action="/search" method="get">
            <label for="query">Search:</label>
            <input type="text" id="query" name="book">
            <input type="submit" value="Submit Search">
        </form>
        <h2>Your Book Library</h2>
        <ul>
            <% books.forEach(function(book) { %>
                <li>
                    <strong>
                        <%= book.title %>
                    </strong> by <%= book.author %><br>
                        ⭐️<%= book.official_rating %> <br>
                            <img src="<%= book.cover %>" alt="<%= book.title %>"><br>
                            <form action="/book/<%= book.id %>" method="get">
                                <button type="submit">Add Notes</button>
                            </form>
                </li>
                <% }); %>
        </ul>
    </body>

    </html>